/*初始化*/
body,div,h1,h2,h3,h4,h5,h6,header,nav,section,footer,ul,li,ol,dl,dt,dd,p,form,table,tr,td,img,a,span,em,strong,i,b,label,
input,select,option,textarea{ margin: 0; padding: 0;}
li{ list-style: none;}
a{text-decoration: none; color: #3d3d3d;}
a:hover{color: #1275b9;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img{border: 0 none; vertical-align: top;}
input{outline: none; border: 0 none;}
body{
   font-size: 12px; color: #44464f; font-family: "微软雅黑";}
.layer{
  width: 1000px; margin: 0 auto;
}
.clearfix:before,.clearfix:after{content: " "; display: table;}
.clearfix:after{clear: both;}

$imgPath:"../img/";

@mixin bg($url,$w,$h){
  background: url($imgPath+$url) no-repeat 0 0;
  background-size: $w $h;
}

@mixin wh($w,$h){
  width: $w;
  height: $h;
}

@mixin bgColor($bgColor){
  background-color: $bgColor;
}

/*头部*/
.header{
	@include wh(100%,auto);
	border-top: 7px #006bb4 solid;
	.logo{
		float: left;
		a{
			display: block;
			margin: 32px 0 0 16px;
		}
	}
	.header_nav{
		float: right;
		margin: 52px 11px 0 0;
		dl{
			box-shadow: 0 0 10px #ccc;
			filter: progid:DXImageTransform.Microsoft.Shadow(color='#ccc', Direction=135, Strength=10);/*for ie6,7,8*/   
			-moz-box-shadow:0 0 10px #ccc;/*firefox*/  
			-webkit-box-shadow:0 0 10px #ccc;/*webkit*/  
		}
		li{
			position:relative;
			float: left;
			font-size: 18px;
			line-height: 24px;
			padding: 0 24px 50px;
			&:nth-child(3),&:nth-child(4){
				padding-right: 19px;
			}
		}	
		.first_dl{
			position:absolute;
			top: 36px;
			left: 0;
			z-index: 99;
			@include wh(188px,auto);
			@include bgColor(#fff);
			border:1px #e9e9e9 solid;
			border-radius:3px;
			line-height: 37px;
			padding:20px 0 18px 0;
			a{
				display: block;
				font-size: 13px;
				color: #707885;
				padding-left:10px;
			}
			dd{
				position:relative;
				padding:0 25px 0 15px;
				.second_dl{
					position:absolute;
					top: -1px;
					left: 188px;
					@include wh(238px,auto);
					@include bgColor(#fff);
					border:1px #e9e9e9 solid;
					border-radius:3px;
					padding:21px 0 19px 0;
				}
			}
			.dd_cur{
				@include wh(auto,auto);
				@include bgColor(#eee);
				border:1px #e2e2e2 solid;
				border-radius:3px;
				line-height: 35px;
			}
		}
	}
}

/*banner*/
.banner{
	position:relative;
	@include wh(100%,460px);
	@include bg("banner_bg.jpg",57px,460px);
	background-repeat:repeat-x;
	overflow:hidden;
	ul{
		position:absolute;
		left: 50%;
		top: 0;
		@include wh(1920px,100%);
		margin-left: -960px;
		li{
			position:absolute;
			left: 0;
			top: 0;
			@include wh(100%,100%);
			a{
				display: block;
				img{
					@include wh(1920px,460px);
				}
			}
		}
	}
	&>a{
		position:absolute;
		margin-top: -56px;
		@include wh(113px,113px);
		@include bg("index_icon.png",242px,546px);
		text-indent: -999em;
		overflow: hidden;
	}
	.left_btn{
		top: 50%;
		left: 0;
	}
	.right_btn{
		top: 50%;
		right: 0;
		background-position:-119px 0;
	}
}
.banner_btn{
	@include wh(100%,auto);
	@include bgColor(#eee);
	margin-top:2px;
	.Js-btn{
		text-align: center;
		margin: 17px 0 19px;
		span{
			display: inline-block;
			margin: 0 1px;
			@include wh(108px,9px);
			@include bgColor(#b6b6b6);
			cursor: pointer;
		}
		.current{
			@include bgColor(#006dc6);
		}
	}
}

/*企业级应用*/
.apply{
	padding: 110px 0 112px;
	overflow:hidden;/*溢出隐藏*/
	ul{
		@include wh(200%,auto);
		line-height: 24px;
		li{
			position:relative;
			float: left;
			@include wh(0,160px);
			padding-left: 166px;
			margin-right: 1px;
			overflow: hidden;
			@include bg("apply_icon.png",166px,1342px);
			.apply_info{
				@include wh(335px,auto);
				position:absolute;
				top: 0;
				left: 166px;
			}
			h3{
				font-size: 24px;
				padding:14px 0 5px 24px;
				a{
					color: #1275b9;
				}
				
			}
			p{
				color: #44464f;
				padding: 0 22px 0 24px;
			}	
		}
		.apply2{
			background-position:0 -167px;
		}
		.apply3{
			background-position:0 -334px;
		}
		.apply4{
			background-position:0 -500px;
		}
		.apply_cur{
			@include wh(335px,160px);
		}
		.apply1_cur{
			background-position:0 -668px;
		}
		.apply2_cur{
			background-position:0 -836px;
		}
		.apply3_cur{
			background-position:0 -1006px;
		}
		.apply4_cur{
			background-position:0 -1175px;
		}
	}
}
/*关于我们*/
.about{
	.layer{
		position:relative;
	}
	@include wh(100%,450px);
	padding-top:51px;
	border-top:1px #ebebeb solid;
	border-bottom:1px #ebebeb solid;
	@include bgColor(#f6f6f6);
	.layer{
		overflow: hidden;
	}
	.about_main{
		position: relative;
		@include wh(100%,376px);
		.about_main_left,.about_main_right{
			float: left;
			@include wh(491px,auto);
			border-radius:2px;
		}
		.about_main_left{
			position:relative;
			overflow: hidden;
			margin-right: 18px;
			img{
				transition: 0.8s;
			}
			p{
				position:absolute;
				top: 241px;
				left: 0;
				@include wh(auto,100%);
				line-height: 24px;
				color: #fff;
				background:rgba(0,120,221,0.77);
				padding: 24px 14px 16px 22px;
				transition: 0.8s;
				letter-spacing: 0px;
				text-indent: 2em;
			}
			&:hover img{
					transform-origin: 50%,50%;
					transform: scale(1.2,1.2);
				}
			&:hover p{
				top: 0;
			}
		}
		.about_main_right{
			@include bgColor(#44464f);
			@include wh(491px,241px);
			.value_slider{
				@include wh(10000%,241px);
				li{
					float: left;
					@include wh(491px,241px);
					border-radius:2px;
					h5{
						@include bg("title_value_bg.png",491px,103px);
						@include wh(491px,103px);
						text-indent: -99em;
						overflow: hidden;
					}
					p{
						line-height: 24px;
						color: #fff;
						padding:0 12px 0 94px;
					}
				}
			}
		}
		
	}
}
/*ourClient合作伙伴*/
.ourClient{
	border-bottom: 4px #e1e1e1 solid;
	padding:40px 0 60px;
	.ourClient_main{
		position:relative;
		.slider_btn{
			bottom:-35px;
			right: 4px
		}
	}
	.h4_title{
		@include wh(136px,42px);
		@include bg("index_icon.png",242px,546px);
		background-position: 0 -412px;
		margin-bottom: 44px;
	}
	.ourClient_slider{
		@include wh(100%,132px);
		overflow: hidden;
		ul{
			@include wh(10000%,100%);
			li{
				@include wh(193px,auto);
				float: left;
				padding-right:8px;
				a{
					display: block;
					img{
						@include wh(193px,132px);
					}
				}
			}
		}
	}
}
/*footer底部*/
.footer{
	position:relative;
	@include wh(100%,395px);
	@include bg("footer_bg_x.jpg",50px,395px);
	background-repeat:repeat-x;
	overflow:hidden;
	.Team{
		padding-bottom:48px;
		.list{
			float: left;
			@include wh(332px,auto);
			dl{
				box-sizing:border-box;
				position:relative;
				@include wh(332px,208px);
				border: 1px #74c1f7 solid;
				border-right:none;
				margin-top: 66px;
				padding:10px 0 0 24px;
				line-height: 24px;
				dt{
					position:absolute;
					left: 24px;
					top: -42px;
					color: #fff;
					font-size: 14px;
					@include wh(auto,24px);
					span{
						margin-left: 61px;
						margin-top: -24px;
						display: block;
						@include wh(85px,24px);
						@include bg("index_icon.png",242px,546px);
						background-position: 0 -464px;
					}
				}
				a{
					color: #fff;
					&:hover{
						color: #2f4b5f;
					}
				}
			}
			&:nth-child(3){
				@include wh(333px,auto);
				dl{
					@include wh(333px,208px);
					border: 1px #74c1f7 solid;
					padding-left: 60px;
					@include bg("index_icon.png",242px,546px);
						background-position: -57px -154px;
						dd:nth-child(3) i{
							padding-left:15px;
						}
						dd:nth-child(4) i{
							padding-left:29px;
						}
					dd{
						color: #fff;
						line-height: 35px;
					}
				}
			}
		}
		.list2{
			dl dt span{
				background-position: 0 -494px;
			}
		}
		.list3{
			dl dt span{
				background-position: 0 -522px;
			}
		}
	}
	.Copy{
		@include wh(100%,73px);
		border-top:3px #00223a solid;
		@include bgColor(#003a61);
		.layer{
			margin-top: 14px;
			line-height: 40px;
			color: #fff;
			font-size: 11px;
			img{
				padding-right:10px;
			}
			i:nth-child(2){
				padding-right:6px;
			}
			i:nth-child(3){
				padding-right:24px;
			}
		}
	}
}

/*公共类*/
.h4_title{
	@include wh(120px,41px);
	@include bg("index_icon.png",242px,546px);
	background-position: 0 -353px;
	color: #494949;
	font-size: 14px;
	text-align: right;
	line-height: 24px;
	padding-top:3px;
	margin-bottom: 31px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.slider_btn{
	position:absolute;
	bottom:89px;
	right:0;
	span{
		float: left;
		@include wh(31px,31px);
		@include bg("index_icon.png",242px,546px);
		text-indent: -99em;
		overflow: hidden;
		&:nth-child(1){
			margin-right: 8px;
			background-position:0 -121px;
			&:hover{
				background-position:-81px -121px;
			}
		}
		&:nth-child(2){
			background-position:-120px -121px;
			&:hover{
				background-position:-39px -121px;
			}
		}
	}
}
.toTop{
	position:fixed;
	right:50%;
	bottom:29px;
	margin-right:-500px;
	@include wh(44px,44px);
	@include bg("toTop.jpg",44px,44px);
}
.float{
	position:fixed;
	right:50%;
	top:50%;
	margin-right:-577px;
	margin-top:-100px;
	@include wh(60px,auto);
	li{
		@include wh(60px,60px);
		@include bg("index_icon.png",242px,546px);
		@include bgColor(#fff);
		border:1px solid #d0d0d0;
		border-bottom:0 none;
		&:nth-child(3){
			border-bottom:1px solid #d0d0d0;
		}
		&:nth-child(1){
			background-position: 0 -152px;
		}
		&:nth-child(2){
			background-position: 0 -217px;
		}
		&:nth-child(3){
			background-position: 0 -272px;
			a{
				color: #44464f;
				font-size: 10px;
				text-align: center;
				padding-top:43px;
			}
		}
		a{
			display: block;
			@include wh(60px,60px);
		}
	}
	li:last-child{
		@include wh(62px,14px);
		@include bgColor(#44464f);
		border:0 none;
		background-position: 0 -322px;
	}
}

/*关于我们*/
.About_info{
	position:relative;
	@include wh(100%,auto);
	overflow:hidden;
	padding-top:294px;
	@include bgColor(#f6f6f6);
	border-bottom:4px solid #e3e3e3;
	.banner{
		position:absolute;
		left:50%;
		top: 0;
		margin-left: -960px;
		@include wh(1920px,100%);
		@include bg("us_banner.jpg",1920px,294px);
	}
	.about_nav{
		float: left;
		@include wh(187px,auto);
		margin-top:-42px; 
		position:relative;
		h3{
			@include wh(auto,31px);
			@include bg("about_icon.png",192px,278px);
			color: #fff;
			font-size:14px;
			line-height: 30px;
			padding:19px 0 3px 16px;
		}
		ul{
			@include wh(184px,auto);
			margin-left: 1px;
			border:1px #d9d3d3 solid;
			padding:3px 0 12px 0;
			li{
				color: #4f4848;
				line-height: 28px;
				a{
					display: block;
					padding-left:30px;
					@include wh(185px,25px);
					margin: 1px 0 2px;
				}
				a:hover{
					@include bg("about_icon.png",192px,278px);
					background-position:0 -245px;
					color: #017bc1;
				}
				.current{
					@include bg("about_icon.png",192px,278px);
					background-position:0 -245px;
					color: #017bc1;
				}
				
			}
		}
		.contact{
			display: block;
			@include wh(94px,103px);
			@include bg("about_icon.png",192px,278px);
			background-position: 0 -71px;
			margin-left: 1px;
			color: #3f3f3f;
			font-size: 14px;
			padding:56px 0 0 92px;
			line-height: 30px;
		}

	}
	.about_detial{
		position:relative;
		box-sizing:border-box;
		float: left;
		@include wh(813px,auto);
		@include bg("about_line.png",14px,590px);
		padding:23px 34px 87px 45px;

		.pos{
			position:absolute;
			top: -30px;
			right: 29px;
			color: #7f7f7f;
			line-height: 30px;
			li{
				float: left;
				a{
					color: #7f7f7f;
					&:hover{
						color: #006ba7;
					}
				}
				i{
					padding:0 5px;
					font-style: normal;
				}
			}
			.pos_cur{
				color: #006ba7;
			}
		}
		h3{
			color: #4c4c4c;
			font-size:18px;
			line-height: 30px;
			padding-top:30px;
		}
		p{
			line-height: 24px;
		}
	}
}

/*product产品*/
.product_info{
	position:relative;
	@include wh(100%,auto);
	overflow:hidden;
	padding-top:329px;
	@include bgColor(#f6f6f6);
	border-bottom:4px solid #e3e3e3;
	.banner{
		position:absolute;
		left:50%;
		top: 0;
		z-index: 0;
		margin-left: -960px;
		@include wh(1920px,100%);
		@include bg("product_banner.jpg",1920px,329px);
	}
	.product_main{

	}
	.product_nav{
		position:relative;
		margin-top: -53px;
		li{
			@include wh(108px,auto);
			float: left;
			font-size: 14px;
			margin-right:10px;
			a{
				display: block;
				@include wh(82px,36px);
				padding-left: 26px;
				line-height: 36px;
				color: #222;
				&:hover{
					color: #0771ba;
					@include bg("product_nav_bg.png",108px,36px);
				}
			}

		}
		.nav_cur{
			color: #0771ba;
			@include bg("product_nav_bg.png",108px,36px);
		}
	}
	.product_list{
		@include wh(110%,auto);
		padding:80px 0 56px;
		li{
			float: left;
			@include wh(218px,175px);
			@include bg("product_bg.png",228px,160px);
			padding:6px 5px 0 5px;
			margin: 0 27px 43px 0;
			.pro_img{
				display: block;
			}
			.pro_name{
				display: inline-block;
				@include wh(auto,auto);
				position:relative;
				font-size: 14px;
				color: #222;
				line-height: 28px;
				padding-left:10px;
				margin-top: 10px;
				i{
					position:absolute;
					top: 10px;
					left: 0;
					@include wh(6px,6px);
					@include bg("product_circle.png",6px,6px);
				}
			}
		}
	}
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}




















